% SATISFIABLE formula (satisfying assignment follows)
action1_0 = 0
precondition11_0 = 1
precondition12_0 = 1
equal_1 = 1
postcondition1_1 = 1
action1_1 = 1
precondition11_1 = 1
precondition12_1 = 1
equal_2 = 1
postcondition1_2 = 1
action2_0 = 0
precondition21_0 = 1
precondition22_0 = 1
postcondition2_1 = 1
action2_1 = 0
precondition21_1 = 1
precondition22_1 = 1
postcondition2_2 = 1
equal_0 = 1
postcondition1_0 = 1
postcondition2_0 = 1
condition1_0 = 1
condition1_1 = 0
